[defaults]
inventory = inventory.ini
host_key_checking = False
remote_user = zholnik
ansible_ssh_private_key_file=~/.ssh/id_ed25519_yandex_cloud
vault_password_file = .ansible_vault_pass
roles_path = ./roles

[galaxy]
server_list = release_galaxy

[galaxy_server.release_galaxy]
url = https://galaxy.ansible.com/
validate_certs = False