REDMINE_DB_POSTGRES=rc1b-g9qsvkkt14t6h1mi.mdb.yandexcloud.net
REDMINE_DB_PORT=6432
REDMINE_DB_USERNAME=user1
REDMINE_DB_PASSWORD={{ db_password }}
REDMINE_DB_DATABASE=db1
PGSSLMODE=require
REDMINE_SECRET_KEY_BASE={{ lookup('password', '/dev/null chars=ascii_letters,digits length=64') }}